.panel p {
	-webkit-backface-visibility: hidden;
}

.fadeIn {
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { -webkit-transform: translateY(-20px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@-moz-keyframes moveDown{
	0% { -webkit-transform: translateY(-20px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@-o-keyframes moveDown{
	0% { -webkit-transform: translateY(-20px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@-ms-keyframes moveDown{
	0% { -webkit-transform: translateY(-20px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

@keyframes moveDown{
	0% { -webkit-transform: translateY(-20px); opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1; }
}

.opacityOn{
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-ms-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
	opacity: 1;
}
.colorWhite{
	color: rgba(255,255,255,.8);
}
.fadeOut {
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;

}

@-webkit-keyframes moveUp{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	100% { -webkit-transform: translateY(20px); opacity: 0; display: 'none'; }
}

@-moz-keyframes moveUp{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	100% { -webkit-transform: translateY(20px); opacity: 0; display: 'none';}
}

@-o-keyframes moveUp{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	100% { -webkit-transform: translateY(20px); opacity: 0; display: 'none';}
}

@-ms-keyframes moveUp{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	100% { -webkit-transform: translateY(20px); opacity: 0; display: 'none';}
}

@keyframes moveUp{
	0% { -webkit-transform: translateY(0px); opacity: 1; }
	100% { -webkit-transform: translateY(20px); opacity: 0; display: 'none';}
}